body, html{
  padding:0px;
  margin:0px;
  font-family:'Ubuntu';
  background:#05d1a3
}
#webContainer{
  background-color:#f7fbf8;
  z-index:0;
  position:relative
}
div#mainContent{
  width:100%;
  margin-bottom:0;
  overflow:hidden
}
div#mainContent #main-view{
  display:block;
  position:relative;
  padding-bottom:134px
}
@media(max-width:533px){
  div#mainContent #main-view{
      padding-bottom:0
  }
}
div#mainContent #sidebar-view{
  position:fixed;
  height:100%;
  display:table-cell;
  background:#fff;
  width:230px;
  left:0px;
  min-width:230px;
  z-index:1;
  box-shadow:0 0 10px #eee
}
div#mainContent #sidebar-view.include-sidebarmenu{
  position:fixed;
  height:100%;
  max-width:100%
}
#page{
  margin:auto;
  z-index:100;
  position:relative;
  padding-top:100px
}
#page.section-content header{
  margin-bottom:15px;
  text-align:center
}
#page.section-content header h1{
  font-size:25px
}
@media(max-width:768px){
  #page{
      padding-top:85px
  }
}
.page-content h1{
  text-align:center;
  font-size:25px;
  margin-bottom:15px
}
@media(max-width:550px){
}
@media(max-width:325px){
  .page-content{
      padding:0
  }
}
.inline-content h3{
  margin-bottom:6px
}
.inline-content p{
  margin-bottom:35px
}
.inline-content ul li{
  list-style-type:none
}
.popup-content{
  max-width:800px;
  margin:auto;
  width:90%
}
@media(max-width:768px){
  .popup-content{
      width:95%
  }
}
.popup-content header{
  text-align:center;
  margin:25px 0
}
.popup-content.popup-container{
  display:table;
  margin:0 auto;
  max-width:730px;
  background-color:#fff;
  padding:25px;
  margin-top:50px;
  box-shadow:0 0 100px #ccc;
  position:relative;
  width:90%
}
@media(max-width:768px){
  .popup-content.popup-container{
      width:100%;
      margin-top:10px
  }
}
.popup-content.popup-container.ngdialog-close{
  display:block!important;
  position:absolute
}
.popup-content.popup-container.header{
  margin-top:0px
}
.popup-content.popup-container.header h3{
  margin-top:0px
}
.line{
  height:1px;
  margin:25px 0;
  width:100%;
  background:#eee
}
.line.dark{
  background-color:#ddd
}
.box-center-litle{
  max-width:400px;
  margin:auto
}
.box-left-medium{
  max-width:700px
}
.box-center-medium{
  max-width:700px;
  margin:auto
}
.box-center-large{
  max-width:1400px;
  margin:auto
}
.margin-auto{
  margin:auto
}
.shuuka-list{
  max-width:600px;
  width:80%;
  margin:40px auto auto;
  padding:0;
  display:table
}
.shuuka-list li{
  float:left;
  list-style-type:none
}
.shuuka-list li:after{
  clear:both;
  content:" ";
  display:table
}
.shuuka-list li img{
  padding:10px
}
.shuuka-list li img,.shuuka-list li span{
  float:left
}
.shuuka-list.icon-list a{
  opacity:1
}
.shuuka-list.icon-list a:after{
  clear:both;
  content:" ";
  display:table
}
.shuuka-list.icon-list a:hover{
  opacity:.7
}
.shuuka-list{
  max-width:100%;
  display:table;
  width:auto;
  margin:auto
}
.shuuka-list li{
  float:none;
  border-bottom:1px solid #eee;
  padding:10px 0
}
.shuuka-list li:last-child{
  border-bottom:none
}
.shuuka-list li a.social-network{
  padding:15px 15px 15px 15px;
  font-weight:400
}
@media(max-width:500px){
  .shuuka-list li a.social-network{
      display:none
  }
}
.shuuka-list li a.social-name{
  padding:15px 15px 15px 15px
}
.shuuka-list li img{
  max-width:60px
}
#search-result h3{
  text-align:center;
  height:40px;
  line-height:40px
}
#search-result h3 span{
  background:#05D1A3;
  padding:10px 15px;
  font-size:17px;
  position:relative;
  top:-1px;
  line-height:13px;
  border-radius:7px;
  color:#fff
}
body>.bottomRightRounded{
  display:none
}
body.page-ready>.bottomRightRounded{
  display:block
}
.bottomRightRounded{
  position:absolute;
  z-index:9;
  transform:rotate(180deg);
  margin-top:-3px
}
.bottomRightRounded path{
  fill:#f7fbf8;
  stroke:#f7fbf8
}
.bottomRightRoundedTopSpace-content{
  margin-top:100px
}
.topLeftRounded{
  position:absolute;
  margin-top:-5.5%;
  z-index:9
}
.topLeftRounded path{
  fill:#f7fbf8;
  stroke:#f7fbf8
}
.dark-bg{
  background-color:#222
}
.shuuka-box{
  background-color:#fff;
  padding:20px;
  border-radius:5px;
  border:1px solid #eee
}
.shuuka-box:after{
  clear:both;
  display:table;
  content:""
}
.btn-user-group{
  margin-top:10px
}
.btn-user-group:after{
  content:" ";
  display:table;
  clear:both
}
.btn-user-group>.navbar-left>ul>li,.btn-user-group>.navbar-right>ul>li{
  float:left;
  list-style-type:none
}
.btn-user-group>.navbar-left>ul>li:last-child,.btn-user-group>.navbar-right>ul>li:last-child{
  margin-right:0
}
.btn-user-group>.navbar-left>ul>li.dropdown button,.btn-user-group>.navbar-right>ul>li.dropdown button{
  float:left
}
.btn-user-group>.navbar-left>ul>li.dropdown.many-networks,.btn-user-group>.navbar-right>ul>li.dropdown.many-networks{
  color:#999;
  font-size:12px;
  margin-left:5px;
  line-height:29px
}
.btn-user-group>.navbar-left>ul>li.dropdown.many-networks i,.btn-user-group>.navbar-right>ul>li.dropdown.many-networks i{
  margin-right:0
}
.btn-user-group>.navbar-left>ul>li.dropdown:hover.many-networks,.btn-user-group>.navbar-right>ul>li.dropdown:hover.many-networks{
  color:#05d1a3
}
.btn-user-group>.navbar-left>ul>li.dropdown:hover.many-networks i,.btn-user-group>.navbar-right>ul>li.dropdown:hover.many-networks i{
  margin-right:0
}
.btn-user-group>.navbar-left>ul>li>a,.btn-user-group>.navbar-right>ul>li>a,.btn-user-group>.navbar-left>ul>li>button,.btn-user-group>.navbar-right>ul>li>button,.btn-user-group>.navbar-left>ul>li div>button,.btn-user-group>.navbar-right>ul>li div>button{
  font-size:12px;
  line-height:14px;
  border:1px solid #eee;
  padding:6px 8px;
  border-radius:5px;
  background-color:#f7f7f7;
  color:#999;
  display:block
}
.btn-user-group>.navbar-left>ul>li>a.shuked,.btn-user-group>.navbar-right>ul>li>a.shuked,.btn-user-group>.navbar-left>ul>li>button.shuked,.btn-user-group>.navbar-right>ul>li>button.shuked,.btn-user-group>.navbar-left>ul>li div>button.shuked,.btn-user-group>.navbar-right>ul>li div>button.shuked{
  border-color:#fc5316;
  background-color:#ffe8df
}
.btn-user-group>.navbar-left>ul>li>a.shuked i,.btn-user-group>.navbar-right>ul>li>a.shuked i,.btn-user-group>.navbar-left>ul>li>button.shuked i,.btn-user-group>.navbar-right>ul>li>button.shuked i,.btn-user-group>.navbar-left>ul>li div>button.shuked i,.btn-user-group>.navbar-right>ul>li div>button.shuked i,.btn-user-group>.navbar-left>ul>li>a.shuked span,.btn-user-group>.navbar-right>ul>li>a.shuked span,.btn-user-group>.navbar-left>ul>li>button.shuked span,.btn-user-group>.navbar-right>ul>li>button.shuked span,.btn-user-group>.navbar-left>ul>li div>button.shuked span,.btn-user-group>.navbar-right>ul>li div>button.shuked span{
  color:#fc5316
}
.btn-user-group>.navbar-left>ul>li>a.shuked:hover,.btn-user-group>.navbar-right>ul>li>a.shuked:hover,.btn-user-group>.navbar-left>ul>li>button.shuked:hover,.btn-user-group>.navbar-right>ul>li>button.shuked:hover,.btn-user-group>.navbar-left>ul>li div>button.shuked:hover,.btn-user-group>.navbar-right>ul>li div>button.shuked:hover{
  border-color:#fc5316;
  background-color:#ffe8df
}
.btn-user-group>.navbar-left>ul>li>a.shuked:hover i,.btn-user-group>.navbar-right>ul>li>a.shuked:hover i,.btn-user-group>.navbar-left>ul>li>button.shuked:hover i,.btn-user-group>.navbar-right>ul>li>button.shuked:hover i,.btn-user-group>.navbar-left>ul>li div>button.shuked:hover i,.btn-user-group>.navbar-right>ul>li div>button.shuked:hover i,.btn-user-group>.navbar-left>ul>li>a.shuked:hover span,.btn-user-group>.navbar-right>ul>li>a.shuked:hover span,.btn-user-group>.navbar-left>ul>li>button.shuked:hover span,.btn-user-group>.navbar-right>ul>li>button.shuked:hover span,.btn-user-group>.navbar-left>ul>li div>button.shuked:hover span,.btn-user-group>.navbar-right>ul>li div>button.shuked:hover span{
  color:#fc5316
}
.btn-user-group>.navbar-left>ul>li>a.shuked:hover i,.btn-user-group>.navbar-right>ul>li>a.shuked:hover i,.btn-user-group>.navbar-left>ul>li>button.shuked:hover i,.btn-user-group>.navbar-right>ul>li>button.shuked:hover i,.btn-user-group>.navbar-left>ul>li div>button.shuked:hover i,.btn-user-group>.navbar-right>ul>li div>button.shuked:hover i{
  animation-name:spaceboots;
  animation-duration:0.8s;
  transform-origin:50%50%;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  -webkit-animation-name:spaceboots;
  -webkit-animation-duration:0.8s;
  -webkit-transform-origin:50%50%;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear
}
.btn-user-group>.navbar-left>ul>li i,.btn-user-group>.navbar-right>ul>li i{
  margin-right:5px
}
.btn-user-group.navbar-right{
  float:right;
  margin-right:0
}
.btn-user-group.navbar-right>ul li{
  margin-left:10px
}
.btn-user-group.navbar-left{
  float:left;
  margin-left:0
}
.btn-user-group.navbar-left>ul li{
  margin-right:10px
}
@media(max-width:545px){
  .btn-user-group{
      display:table;
      margin:auto;
      margin-top:15px
  }
  .btn-user-group.navbar-left,.btn-user-group.navbar-right{
      float:none;
      width:100%;
      display:block;
      height:43px
  }
  .btn-user-group.navbar-left>ul>li:first-child,.btn-user-group.navbar-right>ul>li:first-child{
      margin-left:0
  }
}
.hightlight{
  background:#05D1A3;
  padding:10px 15px;
  font-size:17px;
  position:relative;
  top:-1px;
  line-height:13px;
  border-radius:7px;
  color:#fff
}
.flag-new{
  position:absolute;
  right:0;
  top:-16px;
  max-width:30px
}
.flag-pad-right{
  padding-right:25px
}
.white-content-box{
  width:100%;
  background:#fff;
  display:table
}
.white-content-box:after{
  display:table;
  clear:both;
  content:" "
}
.white-content-box.message-list{
  display:table-cell;
  width:30%;
  min-width:369px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  position:relative;
  background-color:#05d1a3
}
.white-content-box.message-list.mail-deleted{
  position:absolute;
  bottom:0;
  left:0;
  width:100%
}
.white-content-box.message-list.mail-deleted button{
  width:50%;
  height:38px;
  border-color:#eee;
  border-right:none;
  background-color:#fff;
  float:left
}
.white-content-box.message-list.mail-deleted button:first-child{
  border-bottom-left-radius:5px
}
.white-content-box.message-list.tab-box{
  background:transparent
}
.white-content-box.message-list.tab-box.tab-header-section-box{
  position:relative;
  border-top:none;
  border-radius:0;
  border-left:0;
  border-right:0;
  border-color:#05dbab;
  padding:0
}
.white-content-box.message-list.tab-box.tab-header-section-box.col-xs-6{
  padding:0
}
.white-content-box.message-list.tab-box.tab-header-section-box.col-xs-6 .tab-title{
  background-color:#05d1a3;
  text-align:center;
  color:#fff;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
  transition:.3s
}
.white-content-box.message-list.tab-box.tab-header-section-box.col-xs-6 .tab-title.active,.white-content-box.message-list.tab-box.tab-header-section-box.col-xs-6 .tab-title:hover{
  background-color:#05dbab
}
.white-content-box.message-list.tab-box.tab-header-section-box.col-xs-6:first-child.tab-title{
  border-right:1px solid #05dbab;
  border-top-left-radius:5px
}
.white-content-box.message-list.tab-box.tab-content-section-box>section{
  border-bottom-left-radius:7px
}
.white-content-box.message-list.tab-box.tab-content-section-box>section.wrapper{
  overflow:hidden;
  position:relative;
  width:100%;
  height:505px
}
.white-content-box.message-list.tab-box.tab-content-section-box>section.wrapper>.content{
  overflow:auto;
  position:absolute;
  width:100%;
  height:100%;
  -ms-overflow-style:none;
  overflow:-moz-scrollbars-none
}
.white-content-box.message-list.tab-box.tab-content-section-box>section>.content::-webkit-scrollbar{
  display:none
}
.white-content-box.message-list.tab-box.tab-content-section-box>section>.content::-webkit-scrollbar{
  width:0px;
  background:transparent
}
.white-content-box.message-list.tab-box.tab-content-section-box.search-mail{
  background:#05dbab
}
.white-content-box.message-list.tab-box.tab-content-section-box.search-mail input{
  border:0;
  background:transparent;
  color:#d7fef5;
  height:44px
}
.white-content-box.message-list.tab-box.tab-content-section-box.search-mail input::-webkit-input-placeholder,.white-content-box.message-list.tab-box.tab-content-section-box.search-mail input::-moz-placeholder,.white-content-box.message-list.tab-box.tab-content-section-box.search-mail input:-ms-input-placeholder,.white-content-box.message-list.tab-box.tab-content-section-box.search-mail input:-moz-placeholder{
  color:#d7fef5!important
}
.white-content-box.message-list.tab-box.tab-content-section-box.search-mail input:focus{
  color:#fff
}
.white-content-box.message-list.tab-box.tab-content-section-box.search-mail input::placeholder{
  color:#d7fef5!important
}
.white-content-box.message-list.tab-box.tab-content-section-box.search-mail button{
  border:0;
  background:transparent;
  color:#d7fef5;
  outline:none
}
.white-content-box.message-list.tab-box.tab-content-section-box.content{
  border:0;
  padding:0;
  position:relative;
  padding-bottom:38px
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail{
  padding:20px;
  background-color:#05cc9f;
  transition:.3s
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail:nth-child(2n){
  background-color:#05c79b
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail:hover{
  cursor:pointer;
  opacity:.7
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail p{
  margin:0;
  color:#fff
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail p small{
  width:100%;
  color:#d7fef5;
  position:relative;
  display:block;
  margin-bottom:5px;
  font-size:94%
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail p small.nickname span{
  position:absolute;
  right:0
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail p>span{
  display:block;
  font-weight:400
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.mail-spam-list{
  background-color:#fdaf72
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.mail-spam-list:nth-child(2n){
  background-color:#fda968
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.mail-spam-list small{
  color:#ffffff
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.mail-deleted-list{
  background-color:#efa4c6
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.mail-deleted-list:nth-child(2n){
  background-color:#ee9bc1
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.mail-deleted-list small{
  color:#ffffff
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.mail-sent-list{
  background-color:#38d0f7
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.mail-sent-list:nth-child(2n){
  background-color:#2ecef6
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.mail-sent-list small{
  color:#ffffff
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.active{
  background-color:#fff!important
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.active:hover{
  opacity:1
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.active p{
  color:#333
}
.white-content-box.message-list.tab-box.tab-content-section-box.content.mail.active p small{
  color:#999
}
.white-content-box.message-list.mail-list-spam{
  background-color:#FDB277
}
.white-content-box.message-list.mail-list-spam.tab-header-section-box{
  border-color:#fdb881
}
.white-content-box.message-list.mail-list-spam.tab-header-section-box.col-xs-6 .tab-title{
  background-color:#FDB277
}
.white-content-box.message-list.mail-list-spam.tab-header-section-box.col-xs-6 .tab-title.active,.white-content-box.message-list.mail-list-spam.tab-header-section-box.col-xs-6 .tab-title:hover{
  background-color:#fdb881
}
.white-content-box.message-list.mail-list-spam.tab-header-section-box.col-xs-6:first-child.tab-title{
  border-right:1px solid #fdb881
}
.white-content-box.message-list.mail-list-spam.tab-content-section-box.search-mail{
  background:#fdb881
}
.white-content-box.message-list.mail-list-spam.tab-content-section-box.search-mail input{
  color:#ffffff
}
.white-content-box.message-list.mail-list-spam.tab-content-section-box.search-mail input::placeholder{
  color:#ffffff!important
}
.white-content-box.message-list.mail-list-spam.tab-content-section-box.search-mail button{
  color:#ffffff
}
.white-content-box.message-list.mail-list-deleted{
  background-color:#F0A8C9
}
.white-content-box.message-list.mail-list-deleted.tab-header-section-box{
  border-color:#f2b1ce
}
.white-content-box.message-list.mail-list-deleted.tab-header-section-box.col-xs-6 .tab-title{
  background-color:#F0A8C9
}
.white-content-box.message-list.mail-list-deleted.tab-header-section-box.col-xs-6 .tab-title.active,.white-content-box.message-list.mail-list-deleted.tab-header-section-box.col-xs-6 .tab-title:hover{
  background-color:#f2b1ce
}
.white-content-box.message-list.mail-list-deleted.tab-header-section-box.col-xs-6:first-child.tab-title{
  border-right:1px solid #f2b1ce
}
.white-content-box.message-list.mail-list-deleted.tab-content-section-box.search-mail{
  background:#f2b1ce
}
.white-content-box.message-list.mail-list-deleted.tab-content-section-box.search-mail input{
  color:#ffffff
}
.white-content-box.message-list.mail-list-deleted.tab-content-section-box.search-mail input::placeholder{
  color:#ffffff!important
}
.white-content-box.message-list.mail-list-deleted.tab-content-section-box.search-mail button{
  color:#ffffff
}
.white-content-box.message-list.mail-list-sent{
  background-color:#3DD1F7
}
.white-content-box.message-list.mail-list-sent.tab-header-section-box{
  border-color:#47d3f7
}
.white-content-box.message-list.mail-list-sent.tab-header-section-box.col-xs-6 .tab-title{
  background-color:#3DD1F7
}
.white-content-box.message-list.mail-list-sent.tab-header-section-box.col-xs-6 .tab-title.active,.white-content-box.message-list.mail-list-sent.tab-header-section-box.col-xs-6 .tab-title:hover{
  background-color:#47d3f7
}
.white-content-box.message-list.mail-list-sent.tab-header-section-box.col-xs-6:first-child.tab-title{
  border-right:1px solid #47d3f7
}
.white-content-box.message-list.mail-list-sent.tab-content-section-box.search-mail{
  background:#47d3f7
}
.white-content-box.message-list.mail-list-sent.tab-content-section-box.search-mail input{
  color:#ffffff
}
.white-content-box.message-list.mail-list-sent.tab-content-section-box.search-mail input::placeholder{
  color:#ffffff!important
}
.white-content-box.message-list.mail-list-sent.tab-content-section-box.search-mail button{
  color:#ffffff
}
.white-content-box.message-content{
  display:table-cell;
  width:70%;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom:1px solid #eee;
  border-right:1px solid #eee;
  border-top:1px solid #eee
}
.white-content-box.message-content.mail-header-ctrl{
  min-height:60px;
  border-bottom:1px solid #eee;
  padding:13.5px 50px
}
.white-content-box.message-content.mail-header-ctrl.back-btn-to-list{
  display:none
}
.white-content-box.message-content.mail-header-ctrl:after{
  clear:both;
  display:table;
  content:" "
}
.white-content-box.message-content.mail-header-ctrl ul:after{
  clear:both;
  display:table;
  content:" "
}
.white-content-box.message-content.mail-header-ctrl ul.nav-list>li>button:not(.btn-shuuka){
  background-color:transparent;
  border:0;
  font-size:20px;
  line-height:23px;
  padding:5px 10px;
  color:#ccc;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
  transition:.3s
}
.white-content-box.message-content.mail-header-ctrl ul.nav-list>li>button:not(.btn-shuuka):hover{
  color:#999
}
.white-content-box.message-content.mail-header-ctrl ul.nav-list>li:last-child button:not(.btn-shuuka){
  padding-right:0
}
.white-content-box.message-content.mail-header-ctrl ul.nav-list.btn-shuuka{
  padding:1.5px 8px;
  line-height:2;
  min-height:10px;
  color:#999
}
.white-content-box.message-content.mail-header-ctrl ul.nav-list.dropdown-menu{
  left:-109px
}
.white-content-box.message-content.mail-header-ctrl ul.nav-list.dropdown-menu:before{
  left:130px
}
.white-content-box.message-content.mail-header-ctrl ul.nav-list.dropdown-menu:after{
  left:128.5px
}
.white-content-box.message-content.mail-header-content{
  padding:20px 50px;
  border-bottom:1px solid rgba(0,0,0,0.03)
}
.white-content-box.message-content.mail-header-content:after{
  clear:both;
  display:table;
  content:" "
}
.white-content-box.message-content.mail-header-content.mail-user-info p{
  margin:17px 0 0 0
}
.white-content-box.message-content.mail-header-content.mail-user-info p span{
  display:block
}
.white-content-box.message-content.mail-header-content.mail-user-info p span.category{
  font-size:16px;
  font-weight:400
}
.white-content-box.message-content.mail-header-content.date{
  line-height:18px;
  font-weight:400;
  padding:34px 0
}
.white-content-box.message-content.mail-header-content.date span{
  width:100%;
  display:block
}
.white-content-box.message-content.mail-content{
  padding:0 50px 50px 50px;
  overflow:hidden;
  position:relative;
  width:100%;
  height:325px
}
.white-content-box.message-content.mail-content h3{
  font-size:30px;
  text-align:left
}
.white-content-box.message-content.mail-content p{
  font-size:16px;
  line-height:25px
}
.white-content-box.message-content.mail-content.scroll-content{
  overflow:auto;
  position:absolute;
  width:100%;
  height:100%;
  -ms-overflow-style:none;
  overflow:-moz-scrollbars-none;
  padding:50px 0
}
.white-content-box.message-content.mail-content.mail-text{
  max-width:82%;
  word-wrap:break-word
}
.white-content-box.message-content.mail-content.mail-text div{
  font-size:16px;
  line-height:25px
}
.white-content-box.message-content.mail-content.mail-text div>div{
  color:#999
}
.white-content-box.message-content.mail-content.mail-text div>div.line{
  margin:0;
  background:transparent;
  border-bottom:1px dashed #ccc
}
.white-content-box.message-content.mail-footer{
  padding:15px 50px 15px 50px;
  border-top:1px solid #eee
}
@media(max-width:877px){
  .white-content-box{
      display:block
  }
  .white-content-box.message-list{
      width:100%;
      display:block;
      border-radius:5px;
      float:none
  }
  .white-content-box.message-list.display-content{
      display:none
  }
  .white-content-box.message-list.tab-box.tab-header-section-box.col-xs-6:last-child.tab-title{
      border-top-right-radius:5px
  }
  .white-content-box.message-content{
      display:none
  }
  .white-content-box.message-content.display-content{
      display:block;
      width:100%;
      border-radius:5px;
      border:1px solid #eee
  }
  .white-content-box.message-content.display-content.mail-content{
      padding:0 25px 25px 25px
  }
  .white-content-box.message-content.display-content.mail-header-content{
      padding:20px 25px
  }
  .white-content-box.message-content.display-content.mail-header-ctrl{
      padding:13.5px 25px
  }
  .white-content-box.message-content.display-content.mail-header-ctrl.back-btn-to-list{
      display:block
  }
  .white-content-box.message-content.only-desktop{
      display:none
  }
}
.header-nav-bar.nav-right{
  float:right
}
.header-nav-bar.nav-right.float-left:after{
  clear:both;
  display:table;
  content:" "
}
.header-nav-bar.nav-right.float-left li{
  float:left;
  list-style-type:none;
  margin-right:10px
}
.header-nav-bar.nav-right.float-left li:last-child{
  margin-right:0
}
.header-nav-bar.nav-right.float-right:after{
  clear:both;
  display:table;
  content:" "
}
.header-nav-bar.nav-right.float-right li{
  float:right;
  list-style-type:none;
  margin-left:10px
}
.header-nav-bar.nav-right.float-right li:first-child{
  margin-left:0
}
.header-nav-bar.nav-left{
  float:left
}
.header-nav-bar.nav-left.float-left:after{
  clear:both;
  display:table;
  content:" "
}
.header-nav-bar.nav-left.float-left li{
  float:left;
  list-style-type:none;
  margin-right:10px
}
.header-nav-bar.nav-left.float-left li:last-child{
  margin-right:0
}
.header-nav-bar.nav-left.float-right:after{
  clear:both;
  display:table;
  content:" "
}
.header-nav-bar.nav-left.float-right li{
  float:right;
  list-style-type:none;
  margin-left:10px
}
.header-nav-bar.nav-left.float-right li:first-child{
  margin-left:0
}
.header-nav-bar li{
  list-style-type:none
}
#page-description{
  margin:0 auto 15px auto;
  width:100%;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
  transition:.3s;
  max-width: 100% !important;
  padding: 0;
}
.show-info{
  margin-bottom:0;
  border:none;
  border-radius:0;
  margin-right:15px;
  min-width:0;
  overflow:visible;
  padding: 0;
  display: flex;
  width: 100%;
  position: relative;
}
svg{
  width:100px;
  height:100px;
  display:block;
  border-radius:4px
}
#edit-avatar{
  position:absolute;
  bottom:0;
  left:0;
  margin:0;
  background-color:rgba(255,255,255,.85);
  border:0;
  border-top-right-radius:5px
}
.verify{
  position:absolute;
  bottom:-5px;
  right:-5px;
  max-width:20px;
  position:relative
}
.verify:before{
  content:" ";
  position:absolute;
  height:17px;
  width:18px;
  z-index:0;
  background:#fff;
  right:0;
  bottom:0;
  border-radius:10px
}
p{
  font-size:14px;
  line-height:22px;
  max-width:100%;
  margin-bottom:0
}
.avatar, .avatar img{
  width:100px;
  height:100px;
  margin: auto;
}
.descriptionView {
  padding: 20px;
}
#social-icon-list .li a {
   display: flex;
}
#social-icon-add,#social-icon-kacheln,#social-icon-list,.shuuka-special-list{
  margin:25px auto auto;
  padding:0
}
#social-icon-add.edit-true li a img,#social-icon-kacheln.edit-true li a img,#social-icon-list.edit-true li a img,.shuuka-special-list.edit-true li a img{
  opacity:.5
}
#social-icon-add li,#social-icon-kacheln li,#social-icon-list li,.shuuka-special-list li{
  position:relative;
  float:left;
  list-style-type:none;
  color:#333
}
#social-icon-add li:hover,#social-icon-kacheln li:hover,#social-icon-list li:hover,.shuuka-special-list li:hover{
  color:#404040
}
#social-icon-add .social-input,
#social-icon-add .social-input-cancel,
#social-icon-add .social-input-lock,
#social-icon-add .social-input-save,
#social-icon-add .social-remove,
#social-icon-add a,
#social-icon-kacheln .social-input,
#social-icon-kacheln .social-input-cancel,
#social-icon-kacheln .social-input-lock,
#social-icon-kacheln .social-input-save,
#social-icon-kacheln .social-remove,
#social-icon-kacheln a,
#social-icon-list .social-input,
#social-icon-list .social-input-cancel,
#social-icon-list .social-input-lock,
#social-icon-list .social-input-save,
#social-icon-list .social-remove,
#social-icon-list a,
.shuuka-special-list .social-input,
.shuuka-special-list .social-input-cancel,
.shuuka-special-list .social-input-lock,
.shuuka-special-list .social-input-save,
.shuuka-special-list .social-remove,
.shuuka-special-list a{
  position:relative;
}
#social-icon-add:after,#social-icon-kacheln:after,#social-icon-list:after,.shuuka-special-list:after{
  clear:both;
  content:" ";
  display:table;
}
img:after{
  clear:both;
  display:table;
  content:" ";
}
.icon-list{
  padding:0;
  position:relative;
}
.icon-list input{
  min-height:40px;
}
.icon-list a{
  opacity:1
}
.icon-list a:after{
  clear:both;
  content:" ";
  display:table
}
.icon-list a:hover{
  opacity:.7
}
.icon-list a:hover img{
  transition:.2s;
  opacity:.8;
  -webkit-transform:scale(.98);
  -moz-transform:scale(.98);
  -ms-transform:scale(.98);
  -o-transform:scale(.98);
  transform:scale(.98)
}
.icon-onename .li a .social-network{
  width:80%;
  padding-top:2px;
  padding-bottom:2px
}
.icon-onename .li a .social-network .name{
  display:block;
  float:none
}
.icon-onename .li a .social-network .sub-name{
  color:#888;
  font-size:15px
}
#social-icon-list,.shuuka-special-list,#social-icon-add{
  margin:25px auto auto;
  padding:0
}
#social-icon-kacheln.edit-true li a img,#social-icon-list.edit-true li a img,.shuuka-special-list.edit-true li a img,#social-icon-add.edit-true li a img{
  opacity:.5
}
#social-icon-kacheln li,#social-icon-list li,.shuuka-special-list li,#social-icon-add li{
  position:relative;
  float:left;
  list-style-type:none
}
#social-icon-kacheln li .remove,#social-icon-list li .remove,.shuuka-special-list li .remove,#social-icon-add li .remove,#social-icon-kacheln li .key,#social-icon-list li .key,.shuuka-special-list li .key,#social-icon-add li .key,#social-icon-kacheln li .edit-icon,#social-icon-list li .edit-icon,.shuuka-special-list li .edit-icon,#social-icon-add li .edit-icon{
  display:block;
  margin:auto;
  color:#db0455;
  border:none;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  width:73%;
  background-color:rgba(255,255,255,0.7);
  height:73%;
  border-radius:20px;
  font-size:40px
}
#social-icon-kacheln li .remove:hover,#social-icon-list li .remove:hover,.shuuka-special-list li .remove:hover,#social-icon-add li .remove:hover,#social-icon-kacheln li .key:hover,#social-icon-list li .key:hover,.shuuka-special-list li .key:hover,#social-icon-add li .key:hover,#social-icon-kacheln li .edit-icon:hover,#social-icon-list li .edit-icon:hover,.shuuka-special-list li .edit-icon:hover,#social-icon-add li .edit-icon:hover{
  color:#f4045f
}
#social-icon-kacheln li .key,#social-icon-list li .key,.shuuka-special-list li .key,#social-icon-add li .key{
  color:#333
}
#social-icon-kacheln li .key:hover,#social-icon-list li .key:hover,.shuuka-special-list li .key:hover,#social-icon-add li .key:hover{
  color:#404040
}
#social-icon-kacheln li .social-remove,#social-icon-list li .social-remove,.shuuka-special-list li .social-remove,#social-icon-add li .social-remove,#social-icon-kacheln li a,#social-icon-list li a,.shuuka-special-list li a,#social-icon-add li a,#social-icon-kacheln li .social-input,#social-icon-list li .social-input,.shuuka-special-list li .social-input,#social-icon-add li .social-input,#social-icon-kacheln li .social-input-lock,#social-icon-list li .social-input-lock,.shuuka-special-list li .social-input-lock,#social-icon-add li .social-input-lock,#social-icon-kacheln li .social-input-save,#social-icon-list li .social-input-save,.shuuka-special-list li .social-input-save,#social-icon-add li .social-input-save,#social-icon-kacheln li .social-input-cancel,#social-icon-list li .social-input-cancel,.shuuka-special-list li .social-input-cancel,#social-icon-add li .social-input-cancel{
  position:relative
}
#social-icon-kacheln li:after,#social-icon-list li:after,.shuuka-special-list li:after,#social-icon-add li:after{
  clear:both;
  content:" ";
  display:table
}
#social-icon-kacheln img,#social-icon-list img,.shuuka-special-list img,#social-icon-add img{
  padding:13px 10px;
}
.avatar img{
  padding:0;
}
#social-icon-kacheln img:after,#social-icon-list img:after,.shuuka-special-list img:after,#social-icon-add img:after{
  clear:both;
  display:table;
  content:" "
}
#social-icon-kacheln img,#social-icon-list img,.shuuka-special-list img,#social-icon-add img,#social-icon-kacheln span,#social-icon-list span,.shuuka-special-list span,#social-icon-add span{
  float:left
}
#social-icon-kacheln .icon-list,#social-icon-list .icon-list,.shuuka-special-list .icon-list,#social-icon-add .icon-list{
  padding:0;
  position:relative
}
#social-icon-kacheln .icon-list input,#social-icon-list .icon-list input,.shuuka-special-list .icon-list input,#social-icon-add .icon-list input{
  min-height:40px
}
#social-icon-kacheln .icon-list a,#social-icon-list .icon-list a,.shuuka-special-list .icon-list a,#social-icon-add .icon-list a{
  opacity:1
}
#social-icon-kacheln .icon-list a:after,#social-icon-list .icon-list a:after,.shuuka-special-list .icon-list a:after,#social-icon-add .icon-list a:after{
  clear:both;
  content:" ";
  display:table
}
#social-icon-kacheln .icon-list a:hover,#social-icon-list .icon-list a:hover,.shuuka-special-list .icon-list a:hover,#social-icon-add .icon-list a:hover{
  opacity:.7
}
#social-icon-kacheln .icon-list a:hover img,#social-icon-list .icon-list a:hover img,.shuuka-special-list .icon-list a:hover img,#social-icon-add .icon-list a:hover img{
  transition:.2s;
  opacity:.8;
  -webkit-transform:scale(.98);
  -moz-transform:scale(.98);
  -ms-transform:scale(.98);
  -o-transform:scale(.98);
  transform:scale(.98)
}
#social-icon-kacheln.icon-onename .li a .social-network,#social-icon-list.icon-onename .li a .social-network,.shuuka-special-list.icon-onename .li a .social-network,#social-icon-add.icon-onename .li a .social-network{
  width:80%;
  padding-top:2px;
  padding-bottom:2px
}
#social-icon-kacheln.icon-onename .li a .social-network .name,#social-icon-list.icon-onename .li a .social-network .name,.shuuka-special-list.icon-onename .li a .social-network .name,#social-icon-add.icon-onename .li a .social-network .name{
  display:block;
  float:none
}
#social-icon-kacheln.icon-onename .li a .social-network .sub-name,#social-icon-list.icon-onename .li a .social-network .sub-name,.shuuka-special-list.icon-onename .li a .social-network .sub-name,#social-icon-add.icon-onename .li a .social-network .sub-name{
  color:#888;
  font-size:15px
}
#social-icon-kacheln{
  display:table;
  margin:auto
}
#social-icon-kacheln li{
  padding:5px
}
#social-icon-add{
  width:100%
}
#social-icon-add .icon-list>li{
  float:none;
  padding:20px;
  border-bottom:1px solid #eee;
  border-left:2px solid transparent
}
#social-icon-add .icon-list>li:hover{
  background-color:rgba(0,0,0,0.009);
  border-left-color:#05d1a3
}
@media (max-width:446px){
  #social-icon-add .icon-list>li{
      margin-bottom:15px
  }
}
#social-icon-add .icon-list>li img{
  padding:0 10px 0 0;
  max-width:60px
}
@media (max-width:768px){
  #social-icon-add .icon-list>li img{
      max-width:60px
  }
}
@media (max-width:446px){
  #social-icon-add .icon-list>li img{
      padding-left:0
  }
}
#social-icon-add .social-network{
  width:24%;
  line-height:50px
}
@media (max-width:768px){
  #social-icon-add .social-network{
      line-height:48px
  }
}
@media (max-width:446px){
  #social-icon-add .social-network{
      line-height:70px
  }
}
@media (max-width:620px){
  #social-icon-add .social-network{
      display:none
  }
}
#social-icon-add .net-icon{
  margin-right:10px
}
#social-icon-add .social-input,#social-icon-add .social-input-lock{
  width:65%;
  float:right
}
#social-icon-add .social-input .add-box.visible,#social-icon-add .social-input-lock .add-box.visible{
  display:block;
  margin-top:6px
}
#social-icon-add .social-input .box-visible,#social-icon-add .social-input-lock .box-visible{
  display:none
}
#social-icon-add .social-input .box-visible.success,#social-icon-add .social-input-lock .box-visible.success{
  color:#47c205;
  display:block
}
#social-icon-add .social-input .box-visible.error,#social-icon-add .social-input-lock .box-visible.error{
  color:#db0455;
  display:block
}
#social-icon-add .social-input .box-visible .icon,#social-icon-add .social-input-lock .box-visible .icon{
  margin-right:5px
}
#social-icon-add .social-input .box-visible .msg,#social-icon-add .social-input-lock .box-visible .msg{
  margin-bottom:10px
}
#social-icon-add .social-input .box-visible .msg li,#social-icon-add .social-input-lock .box-visible .msg li{
  float:none
}
@media (max-width:446px){
  #social-icon-add .social-input,#social-icon-add .social-input-lock{
      width:100%
  }
}
@media (max-width:620px){
  #social-icon-add .social-input,#social-icon-add .social-input-lock{
      width:80%;
      float:right
  }
}
#social-icon-add .social-input .input-group,#social-icon-add .social-input-lock .input-group{
  margin-top:39px
}
@media (max-width:768px){
  #social-icon-add .social-input .input-group,#social-icon-add .social-input-lock .input-group{
      margin-top:13px
  }
}
@media (max-width:446px){
  #social-icon-add .social-input .input-group,#social-icon-add .social-input-lock .input-group{
      margin-top:0
  }
}
#social-icon-list,.shuuka-special-list{
  width:inherit;
  margin:auto
}
#social-icon-list .item,.shuuka-special-list .item,#social-icon-list .dndPlaceholder,.shuuka-special-list .dndPlaceholder{
  position:relative;
  z-index:0;
  border-bottom:1px solid #eee
}
#social-icon-list .item:hover,.shuuka-special-list .item:hover,#social-icon-list .dndPlaceholder:hover,.shuuka-special-list .dndPlaceholder:hover{
  background-color:rgba(0,0,0,0.009)
}
#social-icon-list .item:hover .li>a,.shuuka-special-list .item:hover .li>a,#social-icon-list .dndPlaceholder:hover .li>a,.shuuka-special-list .dndPlaceholder:hover .li>a{
  border-left-color:#05d1a3
}
#social-icon-list .item:hover .network-pass input:focus,.shuuka-special-list .item:hover .network-pass input:focus,#social-icon-list .dndPlaceholder:hover .network-pass input:focus,.shuuka-special-list .dndPlaceholder:hover .network-pass input:focus{
  border-color:transparent
}
#social-icon-list .item:hover .network-pass input:focus+label,.shuuka-special-list .item:hover .network-pass input:focus+label,#social-icon-list .dndPlaceholder:hover .network-pass input:focus+label,.shuuka-special-list .dndPlaceholder:hover .network-pass input:focus+label{
  background:transparent
}
#social-icon-list .item.active-row,.shuuka-special-list .item.active-row,#social-icon-list .dndPlaceholder.active-row,.shuuka-special-list .dndPlaceholder.active-row{
  z-index:10
}
#social-icon-list .item:last-child,.shuuka-special-list .item:last-child,#social-icon-list .dndPlaceholder:last-child,.shuuka-special-list .dndPlaceholder:last-child,#social-icon-list .item.last-item,.shuuka-special-list .item.last-item,#social-icon-list .dndPlaceholder.last-item,.shuuka-special-list .dndPlaceholder.last-item{
  border-bottom:none
}
#social-icon-list .item:last-child .user-row-line,.shuuka-special-list .item:last-child .user-row-line,#social-icon-list .dndPlaceholder:last-child .user-row-line,.shuuka-special-list .dndPlaceholder:last-child .user-row-line,#social-icon-list .item.last-item .user-row-line,.shuuka-special-list .item.last-item .user-row-line,#social-icon-list .dndPlaceholder.last-item .user-row-line,.shuuka-special-list .dndPlaceholder.last-item .user-row-line{
  display:none
}
#social-icon-list.edit-list-box .item,.shuuka-special-list.edit-list-box .item,#social-icon-list.edit-list-box .dndPlaceholder,.shuuka-special-list.edit-list-box .dndPlaceholder{
  background:#fff;
  border-right:1px solid #eee;
  border-left:1px solid #eee
}
#social-icon-list.edit-list-box .item.last-item,.shuuka-special-list.edit-list-box .item.last-item,#social-icon-list.edit-list-box .dndPlaceholder.last-item,.shuuka-special-list.edit-list-box .dndPlaceholder.last-item{
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom:1px solid #eee
}
#social-icon-list.edit-list-box .item.first-item,.shuuka-special-list.edit-list-box .item.first-item,#social-icon-list.edit-list-box .dndPlaceholder.first-item,.shuuka-special-list.edit-list-box .dndPlaceholder.first-item{
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  border-top:1px solid #eee
}
#social-icon-list.edit-list-box .icon-list,.shuuka-special-list.edit-list-box .icon-list{
  background-color:transparent;
  border-radius:5px;
  border:none
}
#social-icon-list .li .social-remove,.shuuka-special-list .li .social-remove,#social-icon-list .li .social-drag,.shuuka-special-list .li .social-drag,#social-icon-list .li .social-input,.shuuka-special-list .li .social-input,#social-icon-list .li .social-input-lock,.shuuka-special-list .li .social-input-lock,#social-icon-list .li .social-input-save,.shuuka-special-list .li .social-input-save,#social-icon-list .li .social-input-cancel,.shuuka-special-list .li .social-input-cancel{
  padding:0 0;
  position:absolute;
  background:rgba(0,0,0,0.03);
  border-radius:12px;
  display:block;
  z-index:1;
  right:23px;
  top:23px
}
#social-icon-list .li .social-remove .remove,.shuuka-special-list .li .social-remove .remove,#social-icon-list .li .social-drag .remove,.shuuka-special-list .li .social-drag .remove,#social-icon-list .li .social-input .remove,.shuuka-special-list .li .social-input .remove,#social-icon-list .li .social-input-lock .remove,.shuuka-special-list .li .social-input-lock .remove,#social-icon-list .li .social-input-save .remove,.shuuka-special-list .li .social-input-save .remove,#social-icon-list .li .social-input-cancel .remove,.shuuka-special-list .li .social-input-cancel .remove,#social-icon-list .li .social-remove .key,.shuuka-special-list .li .social-remove .key,#social-icon-list .li .social-drag .key,.shuuka-special-list .li .social-drag .key,#social-icon-list .li .social-input .key,.shuuka-special-list .li .social-input .key,#social-icon-list .li .social-input-lock .key,.shuuka-special-list .li .social-input-lock .key,#social-icon-list .li .social-input-save .key,.shuuka-special-list .li .social-input-save .key,#social-icon-list .li .social-input-cancel .key,.shuuka-special-list .li .social-input-cancel .key,#social-icon-list .li .social-remove .cancel,.shuuka-special-list .li .social-remove .cancel,#social-icon-list .li .social-drag .cancel,.shuuka-special-list .li .social-drag .cancel,#social-icon-list .li .social-input .cancel,.shuuka-special-list .li .social-input .cancel,#social-icon-list .li .social-input-lock .cancel,.shuuka-special-list .li .social-input-lock .cancel,#social-icon-list .li .social-input-save .cancel,.shuuka-special-list .li .social-input-save .cancel,#social-icon-list .li .social-input-cancel .cancel,.shuuka-special-list .li .social-input-cancel .cancel,#social-icon-list .li .social-remove .save,.shuuka-special-list .li .social-remove .save,#social-icon-list .li .social-drag .save,.shuuka-special-list .li .social-drag .save,#social-icon-list .li .social-input .save,.shuuka-special-list .li .social-input .save,#social-icon-list .li .social-input-lock .save,.shuuka-special-list .li .social-input-lock .save,#social-icon-list .li .social-input-save .save,.shuuka-special-list .li .social-input-save .save,#social-icon-list .li .social-input-cancel .save,.shuuka-special-list .li .social-input-cancel .save,#social-icon-list .li .social-remove .edit-icon,.shuuka-special-list .li .social-remove .edit-icon,#social-icon-list .li .social-drag .edit-icon,.shuuka-special-list .li .social-drag .edit-icon,#social-icon-list .li .social-input .edit-icon,.shuuka-special-list .li .social-input .edit-icon,#social-icon-list .li .social-input-lock .edit-icon,.shuuka-special-list .li .social-input-lock .edit-icon,#social-icon-list .li .social-input-save .edit-icon,.shuuka-special-list .li .social-input-save .edit-icon,#social-icon-list .li .social-input-cancel .edit-icon,.shuuka-special-list .li .social-input-cancel .edit-icon,#social-icon-list .li .social-remove .drag,.shuuka-special-list .li .social-remove .drag,#social-icon-list .li .social-drag .drag,.shuuka-special-list .li .social-drag .drag,#social-icon-list .li .social-input .drag,.shuuka-special-list .li .social-input .drag,#social-icon-list .li .social-input-lock .drag,.shuuka-special-list .li .social-input-lock .drag,#social-icon-list .li .social-input-save .drag,.shuuka-special-list .li .social-input-save .drag,#social-icon-list .li .social-input-cancel .drag,.shuuka-special-list .li .social-input-cancel .drag{
  position:relative;
  background:transparent;
  font-size:20px;
  color:#db0455;
  border:none;
  height:47px;
  width:47px;
  transition:.3s
}
#social-icon-list .li .social-remove .remove:hover,.shuuka-special-list .li .social-remove .remove:hover,#social-icon-list .li .social-drag .remove:hover,.shuuka-special-list .li .social-drag .remove:hover,#social-icon-list .li .social-input .remove:hover,.shuuka-special-list .li .social-input .remove:hover,#social-icon-list .li .social-input-lock .remove:hover,.shuuka-special-list .li .social-input-lock .remove:hover,#social-icon-list .li .social-input-save .remove:hover,.shuuka-special-list .li .social-input-save .remove:hover,#social-icon-list .li .social-input-cancel .remove:hover,.shuuka-special-list .li .social-input-cancel .remove:hover,#social-icon-list .li .social-remove .key:hover,.shuuka-special-list .li .social-remove .key:hover,#social-icon-list .li .social-drag .key:hover,.shuuka-special-list .li .social-drag .key:hover,#social-icon-list .li .social-input .key:hover,.shuuka-special-list .li .social-input .key:hover,#social-icon-list .li .social-input-lock .key:hover,.shuuka-special-list .li .social-input-lock .key:hover,#social-icon-list .li .social-input-save .key:hover,.shuuka-special-list .li .social-input-save .key:hover,#social-icon-list .li .social-input-cancel .key:hover,.shuuka-special-list .li .social-input-cancel .key:hover,#social-icon-list .li .social-remove .cancel:hover,.shuuka-special-list .li .social-remove .cancel:hover,#social-icon-list .li .social-drag .cancel:hover,.shuuka-special-list .li .social-drag .cancel:hover,#social-icon-list .li .social-input .cancel:hover,.shuuka-special-list .li .social-input .cancel:hover,#social-icon-list .li .social-input-lock .cancel:hover,.shuuka-special-list .li .social-input-lock .cancel:hover,#social-icon-list .li .social-input-save .cancel:hover,.shuuka-special-list .li .social-input-save .cancel:hover,#social-icon-list .li .social-input-cancel .cancel:hover,.shuuka-special-list .li .social-input-cancel .cancel:hover,#social-icon-list .li .social-remove .save:hover,.shuuka-special-list .li .social-remove .save:hover,#social-icon-list .li .social-drag .save:hover,.shuuka-special-list .li .social-drag .save:hover,#social-icon-list .li .social-input .save:hover,.shuuka-special-list .li .social-input .save:hover,#social-icon-list .li .social-input-lock .save:hover,.shuuka-special-list .li .social-input-lock .save:hover,#social-icon-list .li .social-input-save .save:hover,.shuuka-special-list .li .social-input-save .save:hover,#social-icon-list .li .social-input-cancel .save:hover,.shuuka-special-list .li .social-input-cancel .save:hover,#social-icon-list .li .social-remove .edit-icon:hover,.shuuka-special-list .li .social-remove .edit-icon:hover,#social-icon-list .li .social-drag .edit-icon:hover,.shuuka-special-list .li .social-drag .edit-icon:hover,#social-icon-list .li .social-input .edit-icon:hover,.shuuka-special-list .li .social-input .edit-icon:hover,#social-icon-list .li .social-input-lock .edit-icon:hover,.shuuka-special-list .li .social-input-lock .edit-icon:hover,#social-icon-list .li .social-input-save .edit-icon:hover,.shuuka-special-list .li .social-input-save .edit-icon:hover,#social-icon-list .li .social-input-cancel .edit-icon:hover,.shuuka-special-list .li .social-input-cancel .edit-icon:hover,#social-icon-list .li .social-remove .drag:hover,.shuuka-special-list .li .social-remove .drag:hover,#social-icon-list .li .social-drag .drag:hover,.shuuka-special-list .li .social-drag .drag:hover,#social-icon-list .li .social-input .drag:hover,.shuuka-special-list .li .social-input .drag:hover,#social-icon-list .li .social-input-lock .drag:hover,.shuuka-special-list .li .social-input-lock .drag:hover,#social-icon-list .li .social-input-save .drag:hover,.shuuka-special-list .li .social-input-save .drag:hover,#social-icon-list .li .social-input-cancel .drag:hover,.shuuka-special-list .li .social-input-cancel .drag:hover{
  background-color:#db0455;
  color:#fff;
  border-radius:13px
}
#social-icon-list .li .social-remove .key,.shuuka-special-list .li .social-remove .key,#social-icon-list .li .social-drag .key,.shuuka-special-list .li .social-drag .key,#social-icon-list .li .social-input .key,.shuuka-special-list .li .social-input .key,#social-icon-list .li .social-input-lock .key,.shuuka-special-list .li .social-input-lock .key,#social-icon-list .li .social-input-save .key,.shuuka-special-list .li .social-input-save .key,#social-icon-list .li .social-input-cancel .key,.shuuka-special-list .li .social-input-cancel .key{
  color:#333
}
#social-icon-list .li .social-remove .key:hover,.shuuka-special-list .li .social-remove .key:hover,#social-icon-list .li .social-drag .key:hover,.shuuka-special-list .li .social-drag .key:hover,#social-icon-list .li .social-input .key:hover,.shuuka-special-list .li .social-input .key:hover,#social-icon-list .li .social-input-lock .key:hover,.shuuka-special-list .li .social-input-lock .key:hover,#social-icon-list .li .social-input-save .key:hover,.shuuka-special-list .li .social-input-save .key:hover,#social-icon-list .li .social-input-cancel .key:hover,.shuuka-special-list .li .social-input-cancel .key:hover{
  background-color:#333;
  color:#fff
}
#social-icon-list .li .social-remove .lock,.shuuka-special-list .li .social-remove .lock,#social-icon-list .li .social-drag .lock,.shuuka-special-list .li .social-drag .lock,#social-icon-list .li .social-input .lock,.shuuka-special-list .li .social-input .lock,#social-icon-list .li .social-input-lock .lock,.shuuka-special-list .li .social-input-lock .lock,#social-icon-list .li .social-input-save .lock,.shuuka-special-list .li .social-input-save .lock,#social-icon-list .li .social-input-cancel .lock,.shuuka-special-list .li .social-input-cancel .lock{
  color:#333
}
#social-icon-list .li .social-remove .lock:hover,.shuuka-special-list .li .social-remove .lock:hover,#social-icon-list .li .social-drag .lock:hover,.shuuka-special-list .li .social-drag .lock:hover,#social-icon-list .li .social-input .lock:hover,.shuuka-special-list .li .social-input .lock:hover,#social-icon-list .li .social-input-lock .lock:hover,.shuuka-special-list .li .social-input-lock .lock:hover,#social-icon-list .li .social-input-save .lock:hover,.shuuka-special-list .li .social-input-save .lock:hover,#social-icon-list .li .social-input-cancel .lock:hover,.shuuka-special-list .li .social-input-cancel .lock:hover{
  background-color:rgba(0,0,0,0.03);
  color:#333
}
#social-icon-list .li .social-remove .save,.shuuka-special-list .li .social-remove .save,#social-icon-list .li .social-drag .save,.shuuka-special-list .li .social-drag .save,#social-icon-list .li .social-input .save,.shuuka-special-list .li .social-input .save,#social-icon-list .li .social-input-lock .save,.shuuka-special-list .li .social-input-lock .save,#social-icon-list .li .social-input-save .save,.shuuka-special-list .li .social-input-save .save,#social-icon-list .li .social-input-cancel .save,.shuuka-special-list .li .social-input-cancel .save{
  color:#333
}
#social-icon-list .li .social-remove .save:hover,.shuuka-special-list .li .social-remove .save:hover,#social-icon-list .li .social-drag .save:hover,.shuuka-special-list .li .social-drag .save:hover,#social-icon-list .li .social-input .save:hover,.shuuka-special-list .li .social-input .save:hover,#social-icon-list .li .social-input-lock .save:hover,.shuuka-special-list .li .social-input-lock .save:hover,#social-icon-list .li .social-input-save .save:hover,.shuuka-special-list .li .social-input-save .save:hover,#social-icon-list .li .social-input-cancel .save:hover,.shuuka-special-list .li .social-input-cancel .save:hover{
  background-color:#333;
  color:#fff
}
#social-icon-list .li .social-remove .cancel,.shuuka-special-list .li .social-remove .cancel,#social-icon-list .li .social-drag .cancel,.shuuka-special-list .li .social-drag .cancel,#social-icon-list .li .social-input .cancel,.shuuka-special-list .li .social-input .cancel,#social-icon-list .li .social-input-lock .cancel,.shuuka-special-list .li .social-input-lock .cancel,#social-icon-list .li .social-input-save .cancel,.shuuka-special-list .li .social-input-save .cancel,#social-icon-list .li .social-input-cancel .cancel,.shuuka-special-list .li .social-input-cancel .cancel{
  color:#333
}
#social-icon-list .li .social-remove .cancel:hover,.shuuka-special-list .li .social-remove .cancel:hover,#social-icon-list .li .social-drag .cancel:hover,.shuuka-special-list .li .social-drag .cancel:hover,#social-icon-list .li .social-input .cancel:hover,.shuuka-special-list .li .social-input .cancel:hover,#social-icon-list .li .social-input-lock .cancel:hover,.shuuka-special-list .li .social-input-lock .cancel:hover,#social-icon-list .li .social-input-save .cancel:hover,.shuuka-special-list .li .social-input-save .cancel:hover,#social-icon-list .li .social-input-cancel .cancel:hover,.shuuka-special-list .li .social-input-cancel .cancel:hover{
  background-color:#333;
  color:#fff
}
#social-icon-list .li .social-drag,.shuuka-special-list .li .social-drag{
  right:128px
}
#social-icon-list .li .social-drag .drag,.shuuka-special-list .li .social-drag .drag{
  color:#333
}
#social-icon-list .li .social-drag .drag:hover,.shuuka-special-list .li .social-drag .drag:hover{
  color:#fff;
  background-color:#333;
  cursor:move;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab
}
#social-icon-list .li .social-input-save,.shuuka-special-list .li .social-input-save,#social-icon-list .li .social-input-cancel,.shuuka-special-list .li .social-input-cancel{
  display:none
}
#social-icon-list .li .network-pass,.shuuka-special-list .li .network-pass{
  display:none
}
#social-icon-list .li.edit-input-row .social-input-save,.shuuka-special-list .li.edit-input-row .social-input-save,#social-icon-list .li.edit-input-row .social-input-cancel,.shuuka-special-list .li.edit-input-row .social-input-cancel{
  display:block
}
#social-icon-list .li.edit-input-row .social-remove,.shuuka-special-list .li.edit-input-row .social-remove,#social-icon-list .li.edit-input-row .social-input,.shuuka-special-list .li.edit-input-row .social-input,#social-icon-list .li.edit-input-row .social-input-lock,.shuuka-special-list .li.edit-input-row .social-input-lock{
  display:none
}
#social-icon-list .li.edit-input-row .social-network,.shuuka-special-list .li.edit-input-row .social-network{
  display:none
}
#social-icon-list .li.edit-input-row .network-pass,.shuuka-special-list .li.edit-input-row .network-pass{
  display:block;
  position:absolute;
  right:30%;
  top:27px
}
#social-icon-list .li .social-input,.shuuka-special-list .li .social-input,#social-icon-list .li .social-input-lock,.shuuka-special-list .li .social-input-lock{
  right:75px
}
#social-icon-list .li .social-input-lock,.shuuka-special-list .li .social-input-lock{
  opacity:.5
}
#social-icon-list .li .social-input-lock:hover,.shuuka-special-list .li .social-input-lock:hover{
  cursor:not-allowed
}
#social-icon-list .li .social-input-save,.shuuka-special-list .li .social-input-save{
  right:75px
}
#social-icon-list .li .social-btn-box,.shuuka-special-list .li .social-btn-box{
  z-index:10;
  outline:none;
  top: 0;
  right: 0;
  position: absolute;
  vertical-align: middle;
  bottom: 0;
}
#social-icon-list .li .social-btn-box a:focus,#social-icon-list .li .social-btn-box button:focus,.shuuka-special-list .li .social-btn-box button:focus{
  background:transparent;
  opacity:.2;
  outline:none
}
#social-icon-list .li .social-btn-box>button,#social-icon-list .li .social-btn-box>button,.shuuka-special-list .li .social-btn-box>button{
  position:relative;
  display:block;
  padding:4px 15px;
  border:none;
  max-height:70px !important;
  border-radius:13px
}
#social-icon-list .li .social-btn-box>button img,.shuuka-special-list .li .social-btn-box>button img{
  max-height:30px;
  padding:0
}
#social-icon-list .li .social-btn-box .dropdown-menu,.shuuka-special-list .li .social-btn-box .dropdown-menu{
  left:-130px;
  padding-bottom:0;
  padding-top:0;
  top:47px;
  box-shadow:-2px 2px 15px rgba(0,0,0,0.1)
}
#social-icon-list .li .social-btn-box .dropdown-menu:after,.shuuka-special-list .li .social-btn-box .dropdown-menu:after{
  left:132px
}
#social-icon-list .li .social-btn-box .dropdown-menu:before,.shuuka-special-list .li .social-btn-box .dropdown-menu:before{
  left:133.5px;
  top:-11.5px
}
#social-icon-list .li .social-btn-box .dropdown-menu li,.shuuka-special-list .li .social-btn-box .dropdown-menu li{
  padding:0
}
#social-icon-list .li .social-btn-box .dropdown-menu li button,.shuuka-special-list .li .social-btn-box .dropdown-menu li button,#social-icon-list .li .social-btn-box .dropdown-menu li a,.shuuka-special-list .li .social-btn-box .dropdown-menu li a{
  padding:10px
}
#social-icon-list .li .social-btn-box .dropdown-menu li button:hover,.shuuka-special-list .li .social-btn-box .dropdown-menu li button:hover,#social-icon-list .li .social-btn-box .dropdown-menu li a:hover,.shuuka-special-list .li .social-btn-box .dropdown-menu li a:hover{
  background-color:#f5f5f5
}
#social-icon-list .li a,.shuuka-special-list .li a{
  position:relative;
  padding:20px;
  display:block;
  border-left:2px solid transparent;
  border-right:2px solid transparent
}
#social-icon-list .li a .social-network,.shuuka-special-list .li a .social-network{
  width:35%
}
@media (max-width:620px){
  #social-icon-list .li a .social-network,.shuuka-special-list .li a .social-network{
      display:none
  }
}
#social-icon-list .li a .social-name,.shuuka-special-list .li a .social-name,#social-icon-list .li a .social-network,.shuuka-special-list .li a .social-network{
  padding:12px 15px;
  font-size:18px;
  font-weight:200;
  color:#333;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden
}
#social-icon-list .li a .social-name.wrap-name-edit,.shuuka-special-list .li a .social-name.wrap-name-edit,#social-icon-list .li a .social-network.wrap-name-edit,.shuuka-special-list .li a .social-network.wrap-name-edit{
  max-width:33%
}
@media (max-width:620px){
  #social-icon-list .li a .social-name.wrap-name-edit,.shuuka-special-list .li a .social-name.wrap-name-edit,#social-icon-list .li a .social-network.wrap-name-edit,.shuuka-special-list .li a .social-network.wrap-name-edit{
      max-width:55%
  }
}
@media (max-width:484px){
  #social-icon-list .li a .social-name.wrap-name-edit,.shuuka-special-list .li a .social-name.wrap-name-edit,#social-icon-list .li a .social-network.wrap-name-edit,.shuuka-special-list .li a .social-network.wrap-name-edit{
      max-width:40%
  }
}
@media (max-width:378px){
  #social-icon-list .li a .social-name.wrap-name-edit,.shuuka-special-list .li a .social-name.wrap-name-edit,#social-icon-list .li a .social-network.wrap-name-edit,.shuuka-special-list .li a .social-network.wrap-name-edit{
      max-width:29%
  }
}
@media (max-width:333px){
  #social-icon-list .li a .social-name.wrap-name-edit,.shuuka-special-list .li a .social-name.wrap-name-edit,#social-icon-list .li a .social-network.wrap-name-edit,.shuuka-special-list .li a .social-network.wrap-name-edit{
      display:none
  }
}
#social-icon-list .li a .social-name.wrap-name-list,.shuuka-special-list .li a .social-name.wrap-name-list,#social-icon-list .li a .social-network.wrap-name-list,.shuuka-special-list .li a .social-network.wrap-name-list{
  max-width:50%
}
@media (max-width:620px){
  #social-icon-list .li a .social-name.wrap-name-list,.shuuka-special-list .li a .social-name.wrap-name-list,#social-icon-list .li a .social-network.wrap-name-list,.shuuka-special-list .li a .social-network.wrap-name-list{
      max-width:80%
  }
}
@media (max-width:409px){
  #social-icon-list .li a .social-name.wrap-name-list,.shuuka-special-list .li a .social-name.wrap-name-list,#social-icon-list .li a .social-network.wrap-name-list,.shuuka-special-list .li a .social-network.wrap-name-list{
      max-width:70%
  }
}
#social-icon-list .li:hover button,.shuuka-special-list .li:hover button,#social-icon-list .li:hover a.btn-vas.btn-round,.shuuka-special-list .li:hover a.btn-vas.btn-round{
  display:block;
  opacity:1
}
#social-icon-list img,.shuuka-special-list img{
  max-width:60px;
  padding-left:0;
  padding-top:0;
  padding-bottom:0
}
#social-icon-list .li a, .shuuka-special-list .li a {
  text-decoration: none;
  display: flex;
  vertical-align: middle;
  position: relative;
}
.item:hover{
  cursor:pointer
}
#page-description .descriptionView .show-info div.avatar-wrapper .round-box .verify{
  position:absolute;
  bottom:-5px;
  right:-5px;
  max-width:20px
}
#page-description .descriptionView .show-info div.avatar-wrapper .round-box .verify img{
  z-index:1;
  position:relative
}
#page-description .descriptionView .show-info div.avatar-wrapper .round-box .verify:before{
  content:" ";
  position:absolute;
  height:17px;
  width:18px;
  z-index:0;
  background:#fff;
  right:0;
  bottom:0;
  border-radius:10px
}
.show-info-text{
  position:relative
}
#page-description .descriptionView .show-info .show-info-text h5{
  font-weight:200;
  font-size:20px;
  margin-bottom: 14px;
  display: block;
  line-height: 22px;
}
#page-description .descriptionView .show-info .show-info-text p{
  font-size:14px;
  line-height:22px;
  max-width:100%;
  margin-bottom:0;
  margin-top: 0;
  font-weight: normal !important;
}
#page-description .descriptionView .show-info .events-group{
  margin-top:0;
  bottom:-21px;
  position:absolute;
  right:-21px
}
.avatar-wrapper {
  width: 100px;
  margin-right: 15px;
}
#dashboard-nav .verify img{
  max-width:15px;
  margin-left:0
}
.round-box {
   position: relative;
  box-shadow: 0 0 6px rgba(0,0,0,.09);
  padding: 2px;
  border-radius: 4px;
}
.show-info-text{
  position:relative
}
#page-description .descriptionView .show-info .show-info-text h5{
  font-weight:200;
  font-size:20px;
  margin-bottom:10px
}
#page-description .descriptionView .show-info .show-info-text p{
  font-size:14px;
  line-height:22px;
  max-width:100%;
  margin-bottom:0;
  font-weight: 100 !important;
}
#page-description .descriptionView .show-info .events-group{
  margin-top:0;
  bottom:-21px;
  position:absolute;
  right:-21px
}
#page-description .descriptionView .show-info .events-group button.btn-shuk.btn-shuuka{
  background-color:#eee;
  border:2px solid #eee;
  padding:6px 20px;
  border-top-right-radius:0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:5px
}
#page-description .descriptionView .show-info .events-group button.btn-shuk.btn-shuuka i,#page-description .descriptionView .show-info .events-group button.btn-shuk.btn-shuuka span{
  color:#999;
  transition:.3s
}
#page-description .descriptionView .show-info .events-group button.btn-shuk.btn-shuuka:hover i{
  color:#fc5316
}
#page-description .descriptionView .show-info .events-group a{
  margin-right:10px
}
#page-description .descriptionView .show-info:after{
  clear:both;
  display:table;
  content:" "
}
.user-row .counter .verify{
  position:absolute;
  bottom:-4px;
  z-index:1;
  max-width:20px;
  line-height:0;
  max-height:20px;
  right:0
}
.user-row.first-item .counter{
  background-image:url(../images/bg-quadrat.png)
}
.btn-shuuka {
   background-color: #05d1a3;
   color: #fff;
   text-align: center;
   padding: 10px 20px;
   display: inline-block;
   min-height: 44px;
}
.brand-logo{
  max-width:150px;
  margin:auto;
  display:block;
}
.brand-logo:hover, a:hover{
  cursor:pointer
}
a.social-options.btn.btn-default img {
  width: 20px;
}
a.social-options.btn.btn-default {
   top: 15px;
}
#webContainer{
  padding:10px;
}
.brand-logo-container {
  margin-bottom: 30px;
}
p,span,a{
  font-family: 'Ubuntu' !important;
}